<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-content>
<ion-spinner name="bubbles"></ion-spinner>
		<ion-row class="bg-blue">
			<ion-col col-4></ion-col>
			<ion-col col-4>
				<div class="logo">
	            <img src="assets/imgs/darlic-logo.svg">
	         </div>
	         <div class="center-align text-sign-up">
	            <h2>Sign In</h2>
	         </div>		
			</ion-col>
			<ion-col col-4></ion-col>
		</ion-row>
		<ion-row padding>
			<ion-col col-12>
				<div class="pv-20 ph-20 login-form">
					<form [formGroup]="loginform">
						<ion-list padding>
		               <ion-item>
		                  <ion-label floating class="label-color">Email</ion-label>
		                  <ion-input type="email" formControlName="email"  required
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
		               </ion-item>
		               <div *ngIf="loginform.controls.email.invalid && loginform.controls.email.touched">
	              
	               	<div *ngIf="loginform.controls.email.errors.required">
               			<p class="validation-color">Email is required</p>
	               	</div>
	               	<div *ngIf="loginform.controls.email.errors.pattern">
               			<p class="validation-color">Email is not valid</p>
	               	</div>
	               </div>

		               	<ion-item>
		                  	<ion-label floating class="label-color">Password</ion-label>
		                  	<ion-input type="password" formControlName="password" ></ion-input>
		               	</ion-item>
		               		<div *ngIf="loginform.controls.password.invalid && loginform.controls.password.touched">
				               	<div *ngIf="loginform.controls.password.errors.required">
			               			<p class="validation-color">Password is required</p>
				               	</div>
				               </div>	
		            	</ion-list>
		            	 
		            <div class="center-align">
		               <button class="btn-login" (click)="login(loginform)">Login</button>
		            </div>
		            <p class="validation-color" *ngIf="Error != undefined">User Not Exits</p>
		        </form>
	            <div class="forget-pwd">
	            	<span>Forget Password</span>
	            </div>
	            <div class="create-account">
	            	<span class="account-text">Don't have an account</span><a class="create" (click)="signIn()">Create Now</a>
	            </div>
				</div>
			</ion-col>
		</ion-row>
</ion-content>
