page-dashboard {
				.dashboard-heading{
					font-weight:300;
					color:#263238;
					font-family: "Open Sans",sans-serif;
				}
				.order-img{
					padding:10px;
					font-size:30px;
					color:white;
					background-color:#ef5350;
				}

}
