page-dashboard {
	$min-font-weight:300;
	.header .toolbar-background{
		background-color:#37474f;
		border-bottom:1px solid #ffffff;	
	}
	.menu-icon{
		color:#ffffff;
	}
	h4{
		font-weight:$min-font-weight;
		color:#ffffff;
		margin:0px;
	}
	h5{
		font-weight:$min-font-weight;
		color:#263238;	
		text-align:center;
		padding:5px;
	}
	.order-wrapper{
		background-color:#e57373;
		text-align:center;
		padding:40px 10px 40px 10px;
		border-radius:4px;
	}
	.order-icon{
		font-size:40px;
		color:white;
		text-align:center;
	}
	.order-head{
		font-weight:300;
		font-size:17px;
		text-align:center;
		color:white;
		margin:0px;
	}
	.product-wrapper{
		background-color:#66bb6a;
		// background-color:#1AAAC3;
		text-align:center;
		padding:40px 10px 40px 10px;
		border-radius:4px;
	}
	.product-icon{
		font-size:40px;
		color:white;
		text-align:center;
	}
	.product-head{
		font-weight:$min-font-weight;
		font-size:17px;
		text-align:center;
		color:white;
		margin:0px;
	}
	.project-wrapper{
		background-color:#03a9f4;
		text-align:center;
		padding:40px 10px 40px 10px;
		border-radius:4px;
	}
	.project-icon{
		font-size:40px;
		color:white;
		text-align:center;	
	}
	.project-head{
		font-weight:$min-font-weight;
		font-size:17px;
		text-align:center;
		color:white;
		margin:0px;	
	}
	.support-wrapper{
		background-color:#9575cd;
		text-align:center;
		padding:40px 10px 40px 10px;
		border-radius:4px;	
	}
	.support-icon{
		font-size:40px;
		color:white;
		text-align:center;	
	}
	.suppot-head{
		font-weight:$min-font-weight;
		font-size:17px;
		text-align:center;
		color:white;
		margin:0px;
	}
				

}
