page-list-routing{
	.active{
		color:#fff !important;
		border-color:#fff !important;
	}
	.btn-text{
		font-size:12px;
		font-weight:300;
		color:#fff;
	}
	.btn-area{
		text-align:center;
		padding:5px 0px 5px 0px;
	}
	.icon-menu{
		font-weight:400;
		text-align:center;
		background-color:#0277bd;
		color:#81d4fa;
		padding:20px 0px 5px 0px;
		// box-shadow: 0px 1px 10px 2px grey;
    	overflow: scroll;
    	white-space: nowrap;
	}	
	.icon-item{
		padding: 0px 4px 3px 4px;
		margin:0px 8px 0px 8px;
		border-bottom:1px solid #0288d1;
		font-size:14px;
	}
	.close-icon{
		color:#fff;
		font-size:20px;
		text-align:center;
		
	}
	.header-content{
		font-size:20px;
		color:#263238;
		font-weight:300;
	}
	.header-bar{
		padding:5px;
		// background-color: #01579b;
		background-color:#37474f;
		// border-bottom:1px solid #ffffff
	}
	h4{
		font-weight:300;
		color:#fff;
		margin:0px;
	}
	.scroll-content{
		margin-top:46px!important;
	}
	.header-md::after{
		background-image:none;
	}
}
