<ion-header>
  	<ion-row class="header-bar">
  		<ion-col col-2>
  			<div class="close-icon">
  				<ion-icon name="close" (click)="close()" ></ion-icon>
  			</div>
  		</ion-col>
  		<ion-col col-10>
  			<div>
  				<h4>Products</h4>
  			</div>
  		</ion-col>
  	</ion-row>
</ion-header>	

<ion-content>
	<div class="icon-menu">
		<span class="icon-item" (click)="orderData()" [ngClass]="(order == true)?'active':'not'">ORDER</span>
		<span class="icon-item" (click)="productData()" [ngClass]="(product == true)?'active':'not'">PRODUCTS</span>
		<span class="icon-item" (click)="projectsData()" [ngClass]="(projects == true)?'active':'not'">PROJECTS</span>
		<span class="icon-item" (click)="supportData()" [ngClass]="(support == true)?'active':'not'">SUPPORT</span>
		<span class="icon-item" (click)="supportData()" [ngClass]="(support == true)?'active':'not'">SUPPORT</span>
		<span class="icon-item" (click)="supportData()" [ngClass]="(support == true)?'active':'not'">SUPPORT</span>
		<span class="icon-item" (click)="supportData()" [ngClass]="(support == true)?'active':'not'">SUPPORT</span>
		<span class="icon-item" (click)="supportData()" [ngClass]="(support == true)?'active':'not'">SUPPORT</span>
	</div>
	<!-- <div class="icon-menu">
		<ion-icon class="icon-item " (click)="orderData()" [ngClass]="(order == true)?'active':'not'" name="cart"></ion-icon>
		<ion-icon class="icon-item" (click)="productData()" [ngClass]="(product == true)?'active':'not'" name="list-box"></ion-icon>
		<ion-icon class="icon-item" (click)="projectsData()" [ngClass]="(projects == true)?'active':'not'" name="apps"></ion-icon>
		<ion-icon class="icon-item" (click)="supportData()" [ngClass]="(support == true)?'active':'not'" name="help-buoy"></ion-icon>
		
	</div> -->
<!-- <div class="btn-area">
	<button class="btn-text" ion-button (click)="orderData()" [ngClass]="(order == true)?'active':'not'">Order</button>
<button class="btn-text" ion-button (click)="productData()" [ngClass]="(product == true)?'active':'not'">Products</button>
<button class="btn-text" ion-button (click)="projectsData()" [ngClass]="(projects == true)?'active':'not'">Projects</button>
<button class="btn-text" ion-button (click)="supportData()" [ngClass]="(support == true)?'active':'not'">Support</button>
</div> -->
<div *ngIf="order == true"  class="clearfix">
	<page-order></page-order>
</div>
<div *ngIf="product == true" class="clearfix">
	<page-products></page-products>
</div>
<div *ngIf="projects == true"  class="clearfix">
	<page-projects></page-projects>
</div>
<div *ngIf="support == true" class="clearfix">
	<page-support></page-support>
</div>
</ion-content>
