
<!-- <ion-content padding> -->
<button ion-button color="secondary" ><a href="http://darlic.com/create/">Add New Website</a></button>
<div *ngIf="productLength != 0; else elsetag">
	<div *ngFor="let products of product; let i = index ">
		
		<ion-row class="products-row" >
			<ion-col col-9>
				<div class="heading-content">
					<h5> {{i+1}} {{products.blogname}}</h5>
				</div>
			</ion-col>
			<ion-col col-3>
				<div class="btn">
					<button ion-button clear item-end (click)="detailPage(product.userblog_id)">View</button>
				</div>
			</ion-col>
		</ion-row>
	</div>
</div>
<ng-template #elsetag><p>Not exists</p></ng-template>
<!-- </ion-content> -->
