page-projects {
	
		 p{
		 	margin:0px;

		 }
		 .products-row{
		 	border-bottom:1px solid #e8e8e8;
		 }
		 .heading-content{
		 	margin-top:20px;
		 	font-weight:300!important;
		 	color:#263238;
		 	text-align:center;																																																																																																				
		 }
		 .btn{
		 	text-align:center;
		 	margin-top:20px;

		 }
		 a {
		    text-decoration: none !important;
		    color:#263238;
		    font-weight:300;
		    font-size:20px;
		}
}
