page-products {

			.bg-blue{
				background-color:#1685c2;
				min-height: 80px;
			}
			.products{
			    border-radius: 5px;
			    margin-top: -42px;
			    background-color: white;
			    padding:10px;
			    box-shadow: 0px 1px 2px 0px #e8e8e8;
			    margin-bottom:2px;
			}
			.product-heading{
				font-size:17px;
				font-weight:300;
				color:#263238;
				line-height:50px;
			}
			p{
				margin:0px;
			}
			.ph-20{
				padding:0px 10px 0px 10px;
			}
			.color-palette-icon{
				font-size:40px;
				text-align:center;
				color:#ffb74d;
			}
			.domain-row{
			    border-radius: 5px;
			    background-color: white;
			    padding:10px;
			    box-shadow: 0px 1px 2px 0px #e8e8e8;
			    margin-bottom:2px;
			}
			.cloud-icon{
				font-size:40px;
				text-align:center;
				color:#7e57c2;
			}
			a{
				text-decoration:none;
				font-size:16px;
				font-weight:300;
			}
			.renew-link{
				margin-top:18px;
			}

}
