page-products {

		 h5{
		 	font-weight:300!important;
		 	color:#263238;
		 	marging:0px;

		 }
		 .products-row{
		 	border-bottom:1px solid #e8e8e8;
		 	padding-bottom:5px;
		 }
		 .icon-wordpress{
		 	font-size: 30px;
		    color: white;
		    background-color: #03a9f4;
		    text-align: center;
		    margin-top: 22px;
		    padding: 5px 0px 5px 0px;
		 }
		 .heading-content{
		 	margin-top:20px;
		 }
		 .btn{
		 	text-align:center;
		 	margin-top:20px;
		 }
}
