page-signup {

		.bg-blue{
			background-color:#1685c2;
		}
		.logo{
			background-color:white;
			padding:10px;
			text-align: center;
			margin-top:50px;
		   box-shadow: 0px 0px 8px 1px #1685c2;
		   border-radius: 10px;
		}
		.text-sign-up{
			margin-bottom:150px;
		}
		h2{
			color:white;
			font-weight:300;
		}
		.center-align{
			text-align:center;
		}
		.ph-20{
			padding:0px 20px 0px 20px;
		}
		.pv-20{
			padding:20px 0px 20px 0px;
		}
		.btn-sign-up{
			background-color: #1685c2;
			color:white;
			padding: 10px 64px;
			border-radius: 15px;
			border:1px solid #1685c2;
		}
		span{
			padding-right:5px;
			font-size:12px;
			font-weight:300;
			color:#263238;
		}
		.text-sign-in{
			font-size:14px;
			font-weight:300;
		}
		.form{
			margin-top: -150px;
			background-color: white;
			border-radius: 10px;
			border:1px solid #e8e8e8;
		}
		.btn-facebook{
			color:white;
			background-color:#4867AA;
			padding: 10px 20px;
			border-radius:15px;
		}
		.fb-signup{
			color:white;
		}

}
